/* TeamApp */
.section {
    grid-area: section;
    display: grid;
    grid-template-rows: 97px 773px;
    grid-template-areas: "nav""article";
    grid-gap: 10px;
  }

  .nav {
    grid-area: nav;
    background-color: #F5EFEF;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-radius: 10px;
  }

  .all-names {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin-left: 50px;
  }

  .vector-7 {
    position: relative;
    margin-right: 205px;
  }

  .vector-8 {
    position: absolute;
    right: 12.27%;
    margin-top: 11px;
  }

  .article-teams {
    grid-area: article;
    background-color: #F5EFEF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-areas: "aside footer";
    color: #333333;
  }

  .teams-name {
    grid-area: aside;
  }

  .team-table {
    margin-top: 18px;
    margin-left: 15px;
  }

  .team-head {
    padding: 25px 40px 15px 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    padding: 38px;
  }

  .team-name {
    position: relative;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding: 18px 110px;
  }

  .vector-9 {
    position: absolute;
    right: 185px;
    margin-top: -10px;
  }

  .vector-10 {
    position: absolute;
    right: 197px;
    margin-top: 3px;
  }

  .vector-11 {
    margin-left: 71px;
    margin-top: 10px;
  }

  .vector-12 {
    margin-left: -27px;
    margin-top: 10px;
  }

  .vector-13 {
    position: absolute;
    left: 350px;
  }

  .team-members {
    grid-area: footer;
    background-color: rgb(211, 227, 255);
    font-size: 1.2em;
    background: #FBF7F7;
    border-radius: 10px;
  }

  .separate-team {
    list-style: none;
  }

  /* SeparateTeam */
  .name-team {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    margin-top: 52px;
    margin-bottom: 20px;
  }

  .team-nav {
    display: flex;
    justify-content: space-between;
  }

  .team_user-head {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    padding-top: 35px;
    padding-bottom: 50px;
  }

  .vector-14 {
    margin-top: 70px;
    margin-right: 45px;
  }

  .vector-16 {
    margin-left: -39px;
  }

  .team_user-name {
    position: relative;
    padding-bottom: 25px;
    padding-left: 55px;
    margin-left: 100px;
  }

  .vector-17 {
    position: absolute;
    margin-top: -5px;
    left: 0px;
  }

  .vector-18 {
    position: absolute;
    left: 0px;
    margin-left: 12px;
    margin-top: 8px;
  }

  .vector-19 {
    position: absolute;
    left: 280px;
  }
