.main-page {
  background-color: #E5E5E5;
  font-family: Georgia, 'Times New Roman', Times, serif, Arial, Verdana, Tahoma, sans-serif;
}

.main-container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-areas: "header section";
  grid-gap: 10px;
  margin: 10px;
  color: #333333;
}

/* App */
.header {
  grid-area: header;
  background-color: #F5EFEF;
  border-radius: 10px;
  height: 880px;
}

.name-project {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  margin: 47px 19%;
}

.ellipse {
  position: absolute;
  margin-left: 55px;
  margin-top: 48px;
}

.main-links {
  list-style: none;
}

.main-links a {
  text-decoration: none;
  color: #333333;
}

.nav-dashboard {
  margin-top: 71px;
  margin-left: 71px;
}

.vector-1 {
  position: absolute;
  margin-left: 27px;
}

.nav-dashboard,
.nav-employees,
.nav-teams,
.nav-settings {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.nav-employees {
  margin-top: 81px;
  margin-left: 65px;
}

.vector-2 {
  position: absolute;
  margin-top: 80.67px;
  margin-left: 21.67px;
}

.background-1 {
  position: absolute;
  top: -23px;
  right: 5px;
}

.background-2 {
  position: absolute;
  top: -23px;
  right: 5px;
}

.vector-5 {
  position: absolute;
  right: 35px;
  top: calc(50% - 16px);
}

.nav-teams {
  margin-top: 82px;
  margin-left: 65px;
}

.vector-3 {
  position: absolute;
  margin-top: 85px;
  margin-left: 16.67px;
}

.nav-settings {
  margin-top: 405px;
  margin-left: 65px;
}

.vector-4 {
  position: absolute;
  margin-top: 405.33px;
  margin-left: 19.44px;
}